<h1 class="text-center"><%= link_to @company.name.upcase, company_path(@company), title: 'Click to view details' %></h1>
<%= render partial: 'users/user_details', locals: {users: @users} %>
<hr>
<%= render partial: 'users/report', locals: {report: @reports} %>
<hr>
